<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Actores</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="masterpage/header :: nav"></div>
<div class="container-fluid">
<h1>Login page</h1>
<form th:action="@{/security/login.html}" modelAttribute="credentials" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" name="loggedActor" value="Log in" />
</form>
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>