<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Actores</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div th:replace="masterpage/header :: nav"></div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Rol en el Sistema</th>
            <th scope="col">Usuario</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actor: ${actors}">
            <td th:text="${actor.getUserAccount().getAuthorities().toArray()[0]}" />
            <td th:text="${actor.getUserAccount().getUsername()}" />
            <td th:text="${actor.getFullName()}" />
            <td th:text="${actor.getEmail()}" />
            <a th:href="@{/actor/dataActor.html(id=${actor.getId()})}">HHH</a>
            <td th:text="${actor.getId()}" />
        </tr>
        </tbody>
    </table>
    <div th:replace="masterpage/footer :: footer"></div>
    </body>
</html>